.cta-wrap {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 6px;

  a {
    padding: 17px 27px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: -0.01em;
    color: #ffffff;
    text-decoration: none;
    background: #903ddf;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 214px;
    &:hover {
      opacity: 0.8;
    }
  }
}
