.feature-wrap {
  max-width: 220px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  @media (max-width: 525px) {
    margin-bottom: 25px;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
  }

  .feature-heading {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #000000;
  }

  .feature-copy {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #999999;
  }
}
